@model IEnumerable<TrackerDomain.Dto.MovementDtoResponse>

@{
    ViewData["Title"] = "Index Movements";
}

<h1>@ViewData["Title"]</h1>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovementDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovementType.MovementTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourceBook.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinationBook.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinationOtherBook.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentMovement.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsShared)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayMovement.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovementDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Entity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovementType.MovementTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SourceBook.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationBook.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationOtherBook.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentMovement.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsShared)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayMovement.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.StatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
